<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
	<title>Endergebnis</title>
	<link rel="stylesheet" type="text/css" href="resources/css/GeneralLayout.css" />
	<link rel="stylesheet" type="text/css" href="resources/css/Button.css" />
	<link rel="stylesheet" type="text/css" href="resources/css/Popup.css" />
</h:head> 
<body> 
<div id="body">
	<h:form id="afterGame">
		<h1>Herzlichen Glückwunsch</h1>
		<div class="center-text">
			<span class="big-text overlay">
			Du hast 
			<h:outputText value="#{gameController.game.currentLevel.toString()}" />
			<h:outputText value=" abgeschlossen und insgesamt #{gameController.game.totalPoints} Punkte erreicht." />
			</span>
		</div>
		<div class="center-text">
			<p:commandButton value="In Rangliste eintragen" styleClass="button" action="saveGame?faces-redirect=true"/>
			<p:commandButton value="Zur Startseite" onclick="PF('dialog').show();" styleClass="button"/>
		</div>
	</h:form>

	<p:dialog id="popupNewGame" modal="true" widgetVar="dialog">
		<h:form>
			<h:outputText value="Willst du ohne speichern neu starten?" />
			<div class="commitButtons">
				<p:commandButton action="#{gameController.goToIndex()}" value="Ja"/>
				<p:commandButton value="Nein" onclick="hide();">
				</p:commandButton>
			</div>
		</h:form>
	</p:dialog>
</div>
</body> 
</html>
