<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
	<title>Spiel</title>
	<link rel="stylesheet" type="text/css" href="resources/css/GeneralLayout.css" />
	<link rel="stylesheet" type="text/css" href="resources/css/TwoColumnLayout.css" />
	<link rel="stylesheet" type="text/css" href="resources/css/Header.css" />	
	<link rel="stylesheet" type="text/css" href="resources/css/Game.css" />
	<link rel="stylesheet" type="text/css" href="resources/css/Button.css" />
	<link rel="stylesheet" type="text/css" href="resources/css/Popup.css" />	
</h:head> 
<h:body> 
	
	<p:dialog id="popupLevelGoal" modal="true" widgetVar="popupLevelGoal" rendered="#{gameController.levelGoalPopupVisible}" visible="#{gameController.levelGoalPopupVisible}">
		<h:form id="formLevelGoal">
			<h3>Level-Ziel</h3>			
			<div>
				<h:outputText value="Erreiche #{gameController.game.currentLevel.goal} Punkte" />
			</div>
			<p:commandButton styleClass="commitButton" value="Start" actionListener="#{gameController.hideLevelGoalPopup()}" onclick="PF('poll').start();PF('popupLevelGoal').hide();"/>
		</h:form>
	</p:dialog>
	
	<div id="header">
		<span class="positioned-left">
			<h:outputText value="#{gameController.game.currentLevel.toString()}" />
		</span>
		<span class="page-right">
			<h:outputText value="Gesamtpunktzahl: #{gameController.game.totalPoints}" />
		</span>
	</div>

	<div class="game-page-left">
		<h2>Dein Spielstand</h2>
		
		<div class="game-message-container">
			<div class="game-standings-float-left">
				<div class="points">Punkte: </div>
				<div>Blöcke: </div>
				<div>Zeit: </div>
			</div>
			<div class="game-standings-float-right">
				<div id="points">
					<h:outputText id="currentPoints" value="#{gameController.game.currentPoints}/#{gameController.game.currentLevel.goal}" />
				</div>
				<div id="blocks">
					<h:outputText id="currentBlocks" value="#{gameController.game.currentNumberOfBlocks}" />			
				</div>
				<div id="time">
					<h:form>
						<h:outputText id="currentTime" value="#{gameController.game.currentTime.timeToMinutes()}" />  
      					<p:poll widgetVar="poll" autoStart="#{!gameController.levelGoalPopupVisible}" interval="1" listener="#{gameController.game.currentTime.incrementTime()}" update="currentTime" />
					</h:form>
				</div>
			</div>
		</div>
		
		<div class="game-message-container">
			Tipp: Wähle ein Objekt mit vielen gleichfarbigen Nachbarn
		</div>
		
	<h:form>
		<p:commandButton value="Abbrechen" onclick="PF('cancelGame').show();" styleClass="button-small"/>
	</h:form>
	</div>

	<div class="shrink-wrap-help">
		<p:dataGrid id="board" value="#{gameController.game.board.gameBoard}" var="block" columns="#{gameController.game.board.boardWidth}" >
			<p:commandButton id="game-block" value="" actionListener="#{gameController.onClick(block)}" update="board,:currentPoints,:currentBlocks,:popupGameFinished"
				styleClass="button-game #{block.colour.style} visible-#{block.visible}" disabled="#{!block.visible}"/>
		</p:dataGrid>
	</div>
	
	<p:dialog id="popupCancelGame" modal="true" widgetVar="cancelGame" onShow="PF('poll').stop();">
		<h:form>
			<h:outputText value="Willst du das Spiel wirklich beenden?" />
			<div class="commitButtons">
				<p:commandButton action="#{gameController.cancelGame()}" value="Ja"/>
				<p:commandButton value="Nein" onclick="PF('poll').start();PF('cancelGame').hide();"/>
			</div>
		</h:form>
	</p:dialog>
	
	<p:dialog id="popupSessionTimeout" modal="true" widgetVar="sessionTimeout" onShow="PF('poll').stop();" closable="false">
		<h:form>
			<div class="big-text center-text">Session abgelaufen</div>
			<div class="center-text">Das Spiel musste leider abgebrochen werden.</div>
			<div class="commitButtons">
				<p:commandButton action="index?faces-redirect=true" value="Zur Startseite"/>
			</div>
		</h:form>
	</p:dialog>
	
	<p:dialog id="popupGameFinished" modal="true" widgetVar="gameFinished" onShow="PF('poll').stop();">
		<h:form>
			<h:panelGroup styleClass="center-text" rendered="#{gameController.game.wins()}">
				<div class="big-text">Gewonnen!</div>
				<div><h:outputText rendered="#{gameController.game.currentNumberOfBlocks==0}" value="Board abgeräumt: Du erhälst 200 Bonuspunkte!" /></div>
			</h:panelGroup>			
			<h:outputText value="Spiel zu Ende." rendered="#{!gameController.game.wins()}"/>
			<div class="commitButtons">
				<p:commandButton value="OK" action="#{gameController.goToResult()}" />
			</div>
		</h:form>
	</p:dialog>
</h:body> 
</html>
