<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
	<title>Introseite</title>
	<link rel="stylesheet" type="text/css" href="resources/css/GeneralLayout.css" />
	<link rel="stylesheet" type="text/css" href="resources/css/Button.css" />
</h:head> 
<body> 
<div id="body">
	<h1>Willkommen beim Löschspiel</h1>
	<h:form>
		<p:commandButton id="new-game-button" value="Neues Spiel" action="#{gameController.goToGamePage()}" styleClass="button-index"/>
		<p:commandButton id="go-to-ranking-button" value="Rangliste" action="ranking?faces-redirect=true" styleClass="button-index" />
		<p:commandButton id="go-to-instructions-button" value="Anleitung" action="instructions?faces-redirect=true" styleClass="button-index" />
	</h:form>	
</div>
</body> 
</html>