<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
	<title>Anleitung</title>
	<link rel="stylesheet" type="text/css" href="resources/css/GeneralLayout.css" />
	<link rel="stylesheet" type="text/css" href="resources/css/TwoColumnLayout.css" />
	<link rel="stylesheet" type="text/css" href="resources/css/Button.css" />
</h:head> 
<body> 
	<h1>Anleitung</h1>
	
	<div class="body">
		<div class="page-left instructions-page">
			<h2>Spielregeln</h2>
				<div class="instructions-container">
					Das Spielfeld besteht aus vielen farbigen Blöcken. Ziel das Spiels ist es Gruppierungen von gleichfarbigen Blöcken anzuklicken und somit zu löschen. Es können nur Blöcke gelöscht werden, die mindestens einen gleichfarbigen Nachbarn haben. Je mehr Blöcke in einer Gruppierung gelöscht werden, umso mehr Punkte erhält der Spieler.
					<br/>Das Spiel ist zu Ende, wenn keine Züge mehr möglich sind.
				</div>
		</div>

		<div class="page-right instructions-page">
			<h2>Levelziele im Überblick</h2>
			<div class="container instructions-container">
				<div>
					Um ein Level aufzusteigen benötigt man in ...<br />
					<b>Level 1:</b> 1000 Punkte bei 3 Farben<br />
					<b>Level 2:</b> 1500 Punkte bei 3 Farben<br />
					<b>Level 3:</b> 1000 Punkte bei 4 Farben<br />
					<b>Level 4:</b> 1500 Punkte bei 4 Farben<br />
					<b>Level 5:</b> 1500 Punkte bei 5 Farben<br />					
				</div>
			</div>
		</div>	
	</div>
		<h:form styleClass="center-text">
			<p:commandButton value="zurück" action="index?faces-redirect=true" styleClass="button-instruction"/>
		</h:form>
</body> 
</html>