<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
	<title>Zwischenergebnis</title>
	<link rel="stylesheet" type="text/css" href="resources/css/GeneralLayout.css" />
	<link rel="stylesheet" type="text/css" href="resources/css/TwoColumnLayout.css" />
	<link rel="stylesheet" type="text/css" href="resources/css/Header.css" />	
	<link rel="stylesheet" type="text/css" href="resources/css/Button.css" />
	<link rel="stylesheet" type="text/css" href="resources/css/Popup.css" />	
</h:head> 
<body>
	<div id="header">
		<span class="positioned-left">
			<h:outputText value="#{gameController.returnNextLevelName()}" />
		</span>
		<span class="page-right">
			<h:outputText value="Gesamtpunktzahl: #{gameController.game.totalPoints}" />
		</span>
	</div>
	
	<div class="shrink-wrap-help-container" id="body">
		<div class="center-text big-text overlay shrink-wrap-help">
			<h1>Glückwunsch</h1>
			<div><h:outputText value="Du hast #{gameController.game.currentPoints} Punkte in #{gameController.game.currentLevel.toString()} erreicht" /></div>
			<div>und steigst ein Level auf!</div>
		</div>
	</div>

	
	<div class="center-text">
		<p:commandButton value="Weiter" action="#{gameController.startNewLevel()}" styleClass="button-small button-level-result"/>
		<p:commandButton value="In Rangliste eintragen" onclick="PF('saveGame').show();" styleClass="button-small button-level-result"/>
		<p:commandButton value="Beenden" onclick="PF('cancelGame').show()" styleClass="button-small button-level-result"/>
	</div>
	
	<p:dialog id="popupCancelGame" modal="true" widgetVar="cancelGame">
		<h:form>
			<h:outputText value="Willst du das Spiel wirklich ohne zu speichern beenden?" />
			<div class="commitButtons">
				<p:commandButton action="#{gameController.goToIndex()}" value="Ja"/>
				<p:commandButton value="Nein" onclick="hide();"/>
			</div>
		</h:form>
	</p:dialog>
	
	<p:dialog id="popupSaveGame" modal="true" widgetVar="saveGame">
		<h:form>
			<h:outputText value="Wenn du dich in die Rangliste einträgst, kannst du dieses Spiel nicht fortsetzen." />
			<div class="commitButtons">
				<p:commandButton action="saveGame?faces-redirect=true" value="Eintragen"/>
				<p:commandButton value="Weiter spielen" onclick="hide();"/>
			</div>
		</h:form>
	</p:dialog>
</body>
</html>