<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
	<title>Spiel</title>
	<link rel="stylesheet" type="text/css" href="resources/css/GeneralLayout.css" />
	<link rel="stylesheet" type="text/css" href="resources/css/Header.css" />	
	<link rel="stylesheet" type="text/css" href="resources/css/Button.css" />
</h:head> 
<h:body> 
	
	<div id="body" class="shrink-wrap-help-container">
		<div class="center-text overlay shrink-wrap-help">
			<h1>Spiel beendet</h1>
			<div class="big-text">Auf ein Neues!</div>
			<h:form>
				<p:commandButton styleClass="button" action="#{gameController.goToIndex()}" value="Startseite"/>
			</h:form>
		</div>
	</div>
</h:body>
</html>