<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
	<title>Rangliste</title>
	<link rel="stylesheet" type="text/css" href="resources/css/GeneralLayout.css" />
	<link rel="stylesheet" type="text/css" href="resources/css/Ranking.css" />
	<link rel="stylesheet" type="text/css" href="resources/css/Button.css" />
</h:head> 
<body> 
	<h:form>
		<h1>Rangliste</h1>
		<div class="shrink-wrap-help-container" id="ranking">
		<p:dataTable styleClass="shrink-wrap-help" rules="all" var="item" value="#{dBOperator.ranking}" 
			cellpadding="10" columnClasses="rank" headerClass="header" paginator="true" rows="8">
			<p:column>
				<f:facet name="header">
					<h:outputText value="Platz" />
				</f:facet>
				<h:outputText value="#{item.rank}" />
			</p:column>
			<p:column>
				<f:facet name="header">
					<h:outputText value="User" />
				</f:facet>
				<h:outputText value="#{item.user}" />
			</p:column>
			<p:column>
				<f:facet name="header">
					<h:outputText value="Punkte" />
				</f:facet>
				<h:outputText value="#{item.totalPoints}" />
			</p:column>
			<p:column>
				<f:facet name="header">
					<h:outputText value="Level" />
				</f:facet>
				<h:outputText value="#{item.level}" />
			</p:column>
			<p:column>
				<f:facet name="header">
					<h:outputText value="Datum" />
				</f:facet>
				<h:outputText value="#{item.date}" />
			</p:column>
		</p:dataTable>
		</div>
		<p:commandButton styleClass="button-centered" value="Zurück" action="index?faces-redirect=true" />
	</h:form>
</body> 
</html>
