<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 

<h:head>
	<title>Spiel speichern</title>
	<link rel="stylesheet" type="text/css" href="resources/css/GeneralLayout.css" />	
	<link rel="stylesheet" type="text/css" href="resources/css/Button.css" />
</h:head> 
<body> 
	<h:form>
		<p:messages autoUpdate="true"/>
		<div class="shrink-wrap-help-container">
			<div id="body" class="center-text overlay shrink-wrap-help">
				<div class="big-text">Spielstand speichern</div>
				<span class="label">Dein Name:</span>
				<h:inputText label="Name" id="name-input" value="#{dBOperator.game.user}" required="true" requiredMessage="Bitte gib deinen Namen an!">
					<f:validateLength minimum="3" maximum="15" for="name-input"/>
					<f:validateRegex pattern="[0-9a-zA-ZäüöÄÜÖß]+" />
				</h:inputText>
				<p:commandButton value="Speichern" action="#{dBOperator.saveGame(gameController.game)}" styleClass="button-small button-centered"/>
			</div>
		</div>				
	</h:form>

</body> 
</html>
