.button, .button-instruction, .button-index {
	border: 0.1rem solid #ffa500;
	color: #000000;
	text-align: center;
	background-color: #ffffff;
	padding: 0.5rem 0;
}

.button {
	margin: 2rem;
	width: 16rem;
}

.button-index {
	width: 12rem;
}

.button-centered, .button-index {
	margin: 2rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.button-small, .button-centered {
	border: 0.1rem solid #ffa500;
	color: #000000;
	text-align: center;
	background-color: #ffffff;
	padding: 0.1rem 0;
}

.button-small:hover, .button-centered:hover,
.button-index:hover, .button-instruction:hover,
.button:hover {
	background-color: #ffa500;
}

.button-game {
	width: 1.2rem;
	height: 1.2rem;
	margin: 0;
	padding: 0;
}

.button-level-result {
	margin: 1rem;
}

#board .RED {
	background-color: red;
}

#board .BLUE {
	background-color: blue;
}

#board .YELLOW {
	background-color: yellow;
}

#board .GREEN {
	background-color: green;
}

#board .ORANGE {
	background-color: orange;
}

#board .visible-false {
	opacity: 0;
}