.game-page-right {
	width: 60%;
	display: inline-block;
}

.game-page-left {
	float: left;
	margin-top: 1rem;
	margin-left: 2rem;
}

.game-board {
	padding: 0;
	margin: 0;
}

#board {
	margin-top: 2rem;
}

#board button {
	background-image: none;
}

#board_content {
	background-color: rgba(139,115,85,0.7);
}

.game-message-container {
	margin-bottom: 3rem;	
}

#blocks, #points, #time {
	text-align: right;
}