@font-face {
	font-family: titillium-regular;
	src: url("../fonts/Titillium-Regular.otf");
}

@font-face {
	font-family: titillium-bold;
	src: url("../fonts/Titillium-Bold.otf");
}

body {
	background-image: url('../img/5.jpg');
	margin: 0;
	font-family: titillium-regular;
}

#body {
	margin-top: 5rem;
}

.ui-widget {
	font-family: titillium-regular;
}

h1 {
	text-align: center;
	color: #ffffff;
	text-shadow: -0.1rem 0 #ffa500, 0 0.1rem #ffa500, 0.1rem 0 #ffa500, 0 -0.1rem #ffa500;
	font-family: titillium-bold;
	font-size: 3rem;
}

h2 {
	color: #ffffff;
	text-shadow: -0.1rem 0 #ffa500, 0 0.1rem #ffa500, 0.1rem 0 #ffa500, 0 -0.1rem #ffa500;
	font-size: 1.8rem;
}

.big-text {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.label {
	margin-right: 1rem;
	font-size: 1.2rem;
}

.overlay {
	background-color: rgba(255,211,155,0.6);
	padding: 1rem;
}

/* positioning */
.shrink-wrap-help {
	display: inline-block;
}

.shrink-wrap-help-container {
	width: 100%;
	text-align: center;
}

.inline-to-block {
	display: block;
}

.center-block {
	margin-left: auto;
	margin-right: auto;
}

.center-text {
	text-align: center;
}