#ranking tbody {
	background-color: white;
	border: thin;
	border-style: solid;
	border-color: maroon;
}

#ranking .rank {
	font-weight: bold;
	border: thin;
	border-style: solid;
	border-color: maroon;
}

#ranking thead {
	background-color: #ffa500;
	border: thin;
	border-style: solid;
	border-color: maroon;
	font-size: 1.3rem;
}