.page-left {
	float: left;
	margin-left: 17rem;
}

.page-right {
	float: right;
	margin-right: 17rem;
}

.instructions-container, .game-message-container {
	margin-bottom: 1rem;
	padding: 1rem;
	background-color: #ffffff;	
}


/* Instructions */

.instructions-page {
	width: 30%;
	display: inline-block;
}

.body {
	width: 100%;	
}

.instructions-container  {
	border: 0.1rem solid #ffa500;
	height: 9rem;
	overflow: auto;	
}


/* Game */

.game-page-left {
	width: 20%;
	display: inline-block;
}

.game-standings-float-left {
	float: left;
}

.game-standings-float-right {
	float: right;
}

.container > div {
	margin-right: 2rem;
}

.game-message-container {
	overflow:hidden;
	width: 10.5rem;
	border: 0.2rem solid #ffa500;
}

.points {
	font-weight: bold;
}